# Ignore artifacts:
build
coverage
yarn.lock
package-lock.json
.DS_Store
.eslintrc

# dotfile
.env*

# markdown
*.md

# next.js
/.next/
/out/

# production
/build

# yarn
/.yarn/

# materials
public/
*.ico
*.svg
